<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Official Registration | SatyaID</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-r from-gray-200 to-gray-400 flex items-center justify-center min-h-screen">

<div class="bg-white p-8 rounded-2xl shadow-2xl w-[420px]">

    <h1 class="text-3xl font-bold text-center text-blue-600 mb-2">SatyaID</h1>
    <p class="text-center text-gray-500 mb-6">Official Registration</p>

    <form method="POST" enctype="multipart/form-data">

        <input name="name" placeholder="Official Name"
               class="w-full border p-3 mb-3 rounded-lg" required>

        <input type="email" name="email" placeholder="Official Email"
               class="w-full border p-3 mb-3 rounded-lg" required>

        <input type="password" name="password" placeholder="Password"
               class="w-full border p-3 mb-3 rounded-lg" required>


        <input name="university" placeholder="University Name"
               class="w-full border p-3 mb-3 rounded-lg" required>

        <input type="email" name="university_email" placeholder="University Email"
               class="w-full border p-3 mb-3 rounded-lg" required>

        <input name="gstin" placeholder="GSTIN ID"
               class="w-full border p-3 mb-3 rounded-lg" required>

        <input name="aishe" placeholder="AISHE Code"
               class="w-full border p-3 mb-3 rounded-lg" required>

        <label class="text-sm text-gray-600">Upload UGC Letter</label>
        <input type="file" name="ugc_letter"
               class="w-full border p-2 mb-3 rounded-lg" required>

        <textarea name="address" placeholder="University Address"
                  class="w-full border p-3 mb-5 rounded-lg" required></textarea>

        <button class="w-full bg-blue-600 text-white py-3 rounded-lg font-semibold">
            Submit for Approval
        </button>

    </form>

</div>

</body>
</html>
